[submodule "Day81 RL python/gdrl"]
	path = Day81 RL python/gdrl
	url = git@github.com:ROM-robotics/gdrl.git
[submodule "spyder_docker"]
	path = spyder_docker
	url = git@github.com:ROM-robotics/spyder_docker.git
